*.json
!vasiliy/*/*/*.json
*.txt
!CMakeLists.txt
x64
Release
out
Debug
bin
__pycache__
.vs
*.user
t.py
t2.py
*.pyc
*.jpg
*.png
t2.py
openvr*.h
!vasiliy/bin
t.cpp
tLOL
*.p
!images/*.jpg
!images/*.svg
!images/*.png
!vasiliy/resources/icons/*.jpg
!vasiliy/resources/icons/*.svg
!vasiliy/resources/icons/*.png
*.drawio
*.egg-info
build
dist
.tox
.idea
*.pickle
driver/src/t
*.mp3
*.avi
*.out
!vasiliy/*
!vasiliy/*/*
!vasiliy/*/*/*
!vasiliy/*/*/*/*
*.log
Matrix3x3.hpp
Vector2.hpp
Vector3.hpp
Quaternion.hpp
boost/